:root {
    --sky-bg: #00c3ff;
    --sky-sn: #02f7ff;
    --sky-bck: #003fec;

    --tree-bg: #25ca10;
    --tree-sn: #00ff40;
    --tree-bck: #61e654;

    --grape-bg: #8e32aa;    
    --grape-sn: #e100ff;    
    --grape-bck: #8e32aa;    

    --fire-bg: #ff0000;
    --fire-sn: #a80000;
    --fire-bck: #ff4040;

    --rock-bg: #a32c2c;
    --rock-sn: #bb3838;
    --rock-bck: #611b1b;

    --sun-bg: #ffae00;
    --sun-sn: #ffe600;
    --sun-bck: #ff5e00;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: coral;
}

.header h1 {
    font-size: 60pt;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.header a.button-one {
    display: flex;
    font-size: 15pt;
    align-items: center;
    justify-content: center;
    background-color: gold;
    color: white;
    width: 40%;
    height: 10%;
    border-radius: 30px;
    transition: all .1s linear;
}

.header a.button-one:hover {
    background-color: crimson;
    font-weight: bolder;
    font-size: 17pt;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: crimson;
    width: 100%;
    height: 200vh;
}

.theme {
    width: 30vw;
    height: 75vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
    transition: all .1s linear;
    cursor: pointer;
}

.theme:hover {
    box-shadow: 0px 5px 7px black;
}

.theme:hover .button-two {
    font-size: 17pt;
}

.theme p {
    width: 100%;
    padding-left: 30px;
    font-size: 20pt;
    color: white;
}

.button-two {
    width: 70%;
    height: 10%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-size: 15pt;
    transition: all .1s linear;
    cursor: pointer;
    font-weight: bolder;
    color: white;
}

.sky {
    background-color: var(--sky-bg);
    color: white;
}

.sky:hover {
    background-color: var(--sky-sn);
}

.tree {
    background-color: var(--tree-sn);
}

.tree:hover {
    background-color: var(--tree-bck);
}

.grape {
    background-color: var(--grape-bg);
}

.grape:hover {
    background-color: var(--grape-sn);
}

.fire {
    background-color: var(--fire-bg);
}

.fire:hover {
    background-color: var(--fire-bck);
}

.rock {
    background-color: var(--rock-bg);
}

.rock:hover {
    background-color: var(--rock-sn);
}

.sun {
    background-color: var(--sun-bg);
}

.sun:hover {
    background-color: var(--sun-sn);
}